In [6]:
import os
import sys
src_dir = os.path.join(os.getcwd(), '..', 'src')
sys.path.append(src_dir)

from utils import GLOBAL

In [2]:
import pandas as pd

In [7]:
pd.read_csv(GLOBAL.PROJECTIONS_2021)

,Unnamed: 0,Player,Tm,Pos,Rec,Rec Yds,Rec TDs,Rushes,Rush Yds,Rush TDs,Pass Yds,Pass TDs,Ints,Standard,Half PPR,PPR
0,1,Tyreek Hill,KAN,WR,95.0,1388.0,16.3,24.0,134.0,2.2,0.0,0.0,0.0,263.2,310.7,358.2
1,2,Davante Adams,GNB,WR,100.0,1192.0,15.6,0.0,0.0,0.0,0.0,0.0,0.0,212.8,262.8,312.8
2,3,Stefon Diggs,BUF,WR,121.0,1458.0,7.6,0.0,1.0,0.0,0.0,0.0,0.0,191.5,252.0,312.5
3,4,DeAndre Hopkins,ARI,WR,117.0,1428.0,6.1,0.0,1.0,0.0,0.0,0.0,0.0,179.5,238.0,296.5
4,5,DK Metcalf,SEA,WR,88.0,1383.0,10.6,0.0,0.0,0.0,0.0,0.0,0.0,201.9,245.9,289.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,29,O.J. Howard,TB,TE,32.0,431.0,0.9,0.0,0.0,0.0,0.0,0.0,0.0,48.5,64.5,80.5
244,30,Dawson Knox,BUF,TE,27.0,323.0,3.4,0.0,0.0,0.0,0.0,0.0,0.0,52.7,66.2,79.7
245,31,Jack Doyle,IND,TE,27.0,291.0,3.5,0.0,0.0,0.0,0.0,0.0,0.0,50.1,63.6,77.1
246,32,Chris Herndon,NYJ,TE,30.0,273.0,2.9,0.0,0.0,0.0,0.0,0.0,0.0,44.7,59.7,74.7
247,33,Pat Freiermuth,PIT,TE,28.0,312.0,2.4,0.0,0.0,0.0,0.0,0.0,0.0,45.6,59.6,73.6